* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.top {
  display: flex;
  margin-left: 330px;
  width: 52%;
  margin-top: 20px;
}
.top img {
  height: 300px;
  width: 300px;
}
.contact-details {
  background-color: rgb(187, 16, 187);
  color: rgb(235, 219, 219);
  padding: 50px;
  line-height: 1.6rem;
}

.contact-details h3 {
  font-family: cursive;
  font-size: 26px;
}

.contact-details p {
  font-weight: 600;
  padding-top: 5px;
}
.contact-details p a {
  text-decoration: none;
  color: rgb(235, 219, 219);
}
.contact-details p a:hover {
  color: red;
}

.boxes {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 340px;
}

.education,
.leadership-experience {
  background-color: rgb(153, 65, 235);
  padding: 10px;
  margin: 10px;
  color: rgb(235, 219, 219);
  border-left: 5px rgb(163, 159, 159) solid;
}

.education,
.leadership-experience p {
  font-size: 14px;
}

.Work-experience {
  margin-left: 340px;
  padding: 10px;
  background-color: rgb(243, 71, 243);
  width: 50%;
  color: rgb(235, 219, 219);
  border-left: 5px rgb(163, 159, 159) solid;
}

.skills {
  background-color: rgb(155, 68, 155);
  color: rgb(235, 219, 219);
  border-left: 5px rgb(163, 159, 159) solid;
  padding: 10px;
  width: 45%;
  justify-content: center;
  margin-left: 370px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  section {
    width: auto;
  }
  .top {
    width: 500px;
    margin-left: none;
    display: block;
  }
  .contact-details {
    padding: 20px;
    width: 300px;
  }
  .top img {
    height: 300px;
    width: 300px;
  }
  .boxes {
    display: block;
    margin-left: none;
    justify-content: center;
    width: 300px;
  }

  .Work-experience {
    margin-left: none;
    width: 300px;
  }

  .skills {
    width: 300px;
    margin-left: none;
  }
}
